input:-webkit-autofill {
    background-color: #1D1D1D !important;
    /* Warna background input */
    color: white !important;
    /* Warna teks input */
    -webkit-text-fill-color: white !important;
    /* Warna teks jika diperlukan */
    -webkit-box-shadow: 0 0 0px 1000px #1D1D1D inset;
    /* Warna shadow yang sesuai */
    box-shadow: 0 0 0px 1000px #1D1D1D inset;
    /* Warna shadow yang sesuai */
}

input {
    background-color: #1D1D1D;
    /* Warna background default */
    color: white;
    /* Warna teks default */
    border: 1px solid #545454;
    /* Border jika diperlukan */
}